body {
  color: #000000;
  background-color: #f9f9f9; /* Included in case any issues with otter or ocean images */
  background-image: URL("https://cdn.pixabay.com/photo/2017/08/16/11/47/drawing-2647512_960_720.jpg");
  background-position: 500px 0px;
  background-repeat: no-repeat;
  background-size: 1150px;
  background-attachment: fixed;
  margin: 0;
}

h1 {
  font-size: 36px;
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 0.5;
  padding-left: 12px;
  padding-top: 18px;
  margin: 0;
}

h2 {
  font-size: 30px;
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 0.5;
  padding-left: 12px;
}

h3 {
  font-size: 20px;
  font-family: Calibri, Helvetica, sans-serif;
  line-height: 0.5;
  padding-left: 12px;
}

p {
  color: #000000;
  font-size: 16px;
  font-family: Georgia, Garamond, serif;
  line-height: 0.3; 
  padding-left: 12px;
}

ul {
  color: #000000;
  font-size: 16px;
  font-family: Georgia, Garamond, serif;
}

figure {
  margin:0;
  padding: 0px 0px 0px 0px;
}

label {
  color: #000000;
  font-size: 16px;
  font-family: Georgia, Garamond, serif;
  line-height: 0.3; 
  margin-left: 12px;
}

select {
  margin-bottom: 3px;
}

#sunglasses {
  position: fixed;
  top: 280px;
  left: 750px;
  z-index: -1; 
  transform: rotate(25deg);
  visibility: hidden;
}

#mustache {
  position: fixed;
  top: 425px;
  left: 725px;
  z-index: -1; 
  transform: rotate(25deg);
  visibility: hidden;
}

#thoughtBubble {
  position: fixed;
  top: 50px;
  left: 1200px;
  z-index: -1; 
  visibility: hidden;
}

#thoughts {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-family: verdana;
  line-height: 1em;
}

#otterGlassesButton {
  margin-left: 10px;
}

#textBox {
  display: block;
  margin-left: 12px;
  margin-top: 10px;
  width: 520px;
  height: 150px;
}

#coffee-cup {
  position: absolute;
  top: 245px;
  left: 350px;
  z-index: -1;
  filter: hue-rotate(15deg);
  animation: coffee-shift 12s linear 0s infinite;
  animation-play-state: running;
}

#ocean {
  z-index: -2;
  position: fixed;
  max-width: 100%;
  filter: hue-rotate(0deg) opacity(50%);
  animation: ocean-shift 12s linear 0s infinite;
  animation-play-state: paused;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-left: 3px;
  text-align: left;
  font-size: 13px;
  margin-left: 12px;
}

@keyframes coffee-shift {
  0% {filter: hue-rotate(15deg);}
  25% {filter: hue-rotate(105deg);}
  50% {filter: hue-rotate(195deg);}
  75% {filter: hue-rotate(285deg);}
  100% {filter: hue-rotate(15deg);}
}

@keyframes ocean-shift {
  0% {filter: hue-rotate(0deg) opacity(50%);}
  25% {filter: hue-rotate(90deg) opacity(50%);}
  50% {filter: hue-rotate(180deg) opacity(50%);}
  75% {filter: hue-rotate(270deg) opacity(50%);}
  100% {filter: hue-rotate(0deg) opacity(50%);}
}

.subsection {
  margin-bottom: 2em;
}
